<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="El-nirina Dama" />
        <title>{% block title %}Sf2 e-commerce{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/kur042ecommerce/css/main.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include "kur042EcommerceBundle::_navbar.html.twig" %}
        <div class="container main-site">
        {% block body %}{% endblock %}     
        </div>
        {% include "kur042EcommerceBundle::_footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
